#container {
  height: 400px;
  width: 100%;
}
div {
  font-size: 10px;
  border: solid 1px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: white;
  width: 20%;
  height: 80%
}
div.active {
  background-color: blue;

}
div.chosen {
  background-color: red;
}
div.option {
  width: 100%
}

div.clicked{
  background-color: rgb(236, 175, 165)
}
