@media all and (max-width: 768px) {
    .container .row div span:first-child {
        display: none;
    }

    .container .row div span:last-child {
        display: inline
    }
}

@media all and (min-width: 768px) {
    .container .row div span:last-child {
        display: none;
    }

    .container .row div span:first-child {
        display: inline
    }
}

.container .row div[class*='col-'] {
    text-align: center;
    padding: 5px;
}

.container .row div.box{
    background: rgba(0,0,0,0.2);
    color: red;
    line-height: 40px;
    height: 40px;
}